/*Add vertical style nav for small screens
Put h1, h2 in nav?
Make Nav Sticky?*/


html {
/*    background-color: burlywood;*/
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Lemonada', cursive;
    text-align: center;
    font-stretch: extra-expanded;
    background-color: rgba(140, 3, 252, 0.5);
/*
    position: sticky; 
    top: 0;
*/
}

/*Not working*/
h1 a:link a:visited {
    color: black;
    text-decoration-color: black;
}


h2 {
    margin-top: 1.1em;
}

p {
    padding: 20px 10px;
    margin: auto 20px;
}

#message {
    background-image: url(images/bridge.jpg);
    background-size: cover;
    height: 600px;
    max-width: 100%;
    position: relative;
}

#message p {
    text-align: right;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
/*    background-color: #333;*/
}

li {
    float: right;
}
/*Could be interfering with link color at top of page*/
a {
    display: block;
    padding: 20px;
    color: #0083e8;
    text-decoration: none;
}

#listing li {
    float: none;
}

li a:hover {
  background-color: #111;
}

#listing a {
    display: block;
}

img {
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 100%;
}

li img {
    border-radius: 0px;
    border-style: none;
}
/*To make nav image not have a crazy border*/
a img {
    padding: 0px;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #222;
    text-align: center;
}

footer p {
    color: white;
}
@media screen and (max-width: 680px) {
    /*    Make vertical nav bar*/
}
