html {
    background-color: burlywood;
    margin: 100px;
    padding: 40px;
}


body {
    margin: 20px;
    background-color: beige;
    font-family: 'Roboto', sans-serif;
}


h1, h2 {
    font-family: 'Lemonada', cursive;
    text-align: center;
    font-stretch: extra-expanded;
    background-color: rgba(140, 3, 252, 0.5);
}


img {
    border-radius: 75%;
    /*Centered Image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-indent: 2em;
}

p, ul, h4 {
    padding: 0 2.5em;
}

h4 {
    font-style: italic;
}

ul {
    list-style-type: square;
}


footer {
    font-size: 1.5em;
    text-align: center;
    padding: 50px;
    margin: 30px;
}

a:hover {
    color: black;
    text-decoration-color: black;
    border-color: black;
}

@media screen and (max-width: 1080px) {
    html {
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
    }
}
